body {
    font-family: sans-serif;
}
#header {
    background-color: #DDD;
    border-color: #000000;
    float: left;
    width: 100%;
    margin: 0 0 40px 0;
    padding-top: 10px;
}
#logo {
    padding: 10px;
}
#header h1 {
    padding: 0;
    margin: 0;
    line-height: 45px;
}
nav {
    padding: 10px 0 0;
    margin-bottom: 10px;
}
nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
nav li {
    display: inline-block;;
}
nav a {
    padding: 5px 10px;
    color: black;
    background-color: #DDD;
    text-decoration: none;
}

nav a.selected,
nav a:hover {
    color: white;
    background-color: darkgrey;
    text-decoration: none;
}

#wrapper {
    max-width: 1180px;
}

footer {
    background-color: #000;
    color: #FFF;
    min-height: 70px;
    padding: 45px;
    text-align: center;
    clear: both;
}
/* ---------for testing---------- */
.border {border: 1px solid black;}
/* ---------for testing---------- */



/* effects when screen in at 480 or MORE */
@media screen and (min-width:480px){
    #primary {
        background-color: #FFF;
        width: 60%;
        float: left;
    }
    #secondary {
        background-color: grey;
        width: 35%;
        float: right;
    }
    #header nav {
        text-align: center;
        margin-bottom: 15px;
        background-color: #000;
        line-height: 60px;
    }
    nav a {
        padding: 15px 10px;
    }
}

/* effects when screen in at 720 or MORE */
@media screen and (min-width:720px){
    #header nav {
        width: 45%;
        float: right;
        text-align: right;
    }
    #logo {
        background-color: blue;
        width: 45%;
        float: left;
    }
    #wrapper {
        margin: 0 auto;
        padding: 0 4%;
    }
}
